<html xmlns:th="https://www.thymeleaf.org" >
<body>
<h1>Orders </h1>

<div th:if="${client != null}">
    <p>Client: <span th:text="${client.name}">Name</span></p>
</div>

<hr/>

<form th:action="@{/home/commande/save}" th:object="${newCommande}" method="post">
    <div>
        <label>Title: </label>
        <input type="title" th:field="*{title}" required />
    </div>
    <div>
        <label>Detail: </label>
        <input type="content" th:field="*{content}" />
    </div>
    <div>
        <label>Quantity: </label>
        <input type="number" th:field="*{number}" />
    </div>
    <div>
        <label>Price: </label>
        <input type="price" th:field="*{price}" />
    </div>
    <button type="submit">Save Orders</button>
</form>

<h3>List Of Orders</h3>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Quantiy</th>
        <th>Price</th>

    </tr>

    <tr th:each="commande: ${commande}">
        <td th:text="${commande.ID}" />
        <td th:text="${commande.title}" />
        <td th:text="${commande.content}" />
        <td th:text="${commande.number}" />
        <td th:text="${commande.price}" />
    </tr>
</table>


<br/>
</body>
</html>