<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Détail de la commande</h1>

<h2 th:text="${commande.titre}">Titre Commande</h2>
<a th:href="@{/commande}">Retour aux commandes</a>

<hr/>

<h3>Ajouter un produit</h3>
<form th:action="@{/ligne/create}" method="post">
    <input type="hidden" name="commandeId" th:value="${commande.id}" />
    <input type="text" name="libelle"  required />
    <input type="number" name="quantite"  value="1" required />
    <input type="number"  name="prix"  required />

    <button type="submit">Ajouter</button>
</form>

<hr/>

<table border="1">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix Unitaire</th>
        <th>Quantité</th>
        <th>Total Ligne</th> <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ligne : ${lignes}">
        <td th:text="${ligne.libelle}"></td>
        <td th:text="${ligne.prixUnitaire} + ' €'"></td>
        <td th:text="${ligne.quantite}"></td>
        <td th:text="${ligne.prixUnitaire * ligne.quantite} + ' €'"></td>

        <td>
            <a th:href="@{/ligne/delete(ligneId=${ligne.id}, commandeId=${commande.id})}">
                Supprimer
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/commande/print(commandeId=${commande.id})}">
    <button type="button">Imprimer la commande</button>
</a>
</body>
</html>