<html xmlns:th="https://www.thymeleaf.org" >
<body>

<a th:href="@{/logout}">
    <button type = "logout">Logout</button>
</a>


<h1>List of Clients</h1>

<table border="1">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>

    </tr>

    <tr th:each="client : ${clients}">
        <td th:text="${client.email}" />
        <td th:text="${client.password}" />
        <td th:text="${client.name}" />
        <td th:text="${client.prename}" />
    </tr>
</table>

<hr/>
<h2>Add a new client</h2>
<form th:action="@{/home/save}" th:object="${newClient}" method="post">
    <div>
        <label>Email: </label>
        <input type="email" th:field="*{email}" required />
    </div>
    <div>
        <label>Password: </label>
        <input type="text" th:field="*{password}" />
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" th:field="*{prename}" />
    </div>
    <div>
        <label>First Name: </label>
        <input type="text" th:field="*{name}" />
    </div>
    <button type="submit">Save Client</button>
</form>


</body>
</html>